<!-- Service area -->
<div class="service-area pd-100 o-hi" id="service">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center wow fadeInUp" data-wow-delay="0.2s">
        <div class="title">
          <h2>¿POR QUÉ ELEGIR WAVE?</h2>
          <p>Con los alineadores invisibles Wave mejorarás tu sonrisa mediante una técnica totalmente revolucionaria y
            perfectamente adaptable a tu ritmo de vida y tus necesidades. Como podrás imaginar, las ventajas de los
            alineadores invisibles son enormes.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="single-s-item">
          <div class="rectangle-6-img">
            <img class=" " src="../../../../../assets/image/Foto 1-min.jpg" />
          </div>
          <h4 style="
          margin-top: 15px;">Comodos</h4>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="single-s-item">
          <div class="rectangle-6-img">
            <img class=" " src="../../../../../assets/image/Foto-2-min.jpg" />
          </div>
          <h4 style="
          margin-top: 15px;">Transparentes</h4>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 wow fadeInUp hidden-sm" data-wow-delay="0.4s">
        <div class="single-s-item color-b">
          <div class="rectangle-6-img">
            <img class=" " src="../../../../../assets/image/Foto 2-min.jpg" />
          </div>
          <h4 style="
          margin-top: 15px;">Limpios</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Service area -->
