<!-- Hero area -->
<div class="hero-area hero-6 owl-carousel hero-7">
  <div class="single-slider slider-bg-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-11 text-center wow fadeInUp" data-wow-delay="0.2s">
          <h1>¡Alineá tus dientes sin que nadie lo note!</h1>
          <h4>Los alineadores invisibles wave son cómodos, suaves y práctivos, evitan dolores, molestías y esas rutinas
            complejas de los brackets.</h4>
          <p class="play-button hidden-xs"><a href="https://wa.link/r9457r" target="_blank" class="button">CONTACTAR</a>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- End Hero area -->
