 <!-- Case Study area -->
 <div class="case-study case-study2 padding-t">
   <div class="container">
     <div class="row justify-content-center">
       <div class="col-lg-8 text-center wow fadeInUp" data-wow-delay="0.2s">
         <div class="title">
           <h4>¿COMO OBTENGO MIS ALINEADORES?</h4>
           <h2>Seguí estos simples pasos.</h2>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-md-4 col-md-4 wow fadeInRight" data-wow-delay="0.2s">
         <div class="contenedors">
           <img class=" " src="../../../../../assets/image/foto4.jpg" />
           <div class="centrados">
             <div class="text-imgs">
               <b>Pedi un turno</b><br /> Uno de nuestros odontólogos certificados te verá y
               responderá todas tus dudas.
             </div>

           </div>
         </div>
       </div>
       <div class="col-md-4 col-md-4 wow fadeInRight" data-wow-delay="0.2s">
         <div class="contenedors">
           <img class=" " src="../../../../../assets/image/foto5.jpg" />
           <div class="centrados">
             <div class="text-imgs">
               <b>Escanéa tu boca</b><br /> Te realizaran un escaneo de tus dientes para poder diseñar tu sonrisa
               perfecta.
             </div>

           </div>
         </div>
       </div>
       <div class="col-md-4 col-md-4 wow fadeInRight" data-wow-delay="0.6s">
         <div class="contenedors">
           <img class=" " src="../../../../../assets/image/foto6.jpg" />
           <div class="centrados">
             <div class="text-imgs">
               <b>Disfrutá tu sonrisa</b><br /> Recibirás el pack de alineadores y comenzaras tu tratamiento controlado
               continuamente por tu ondontólogo.
             </div>

           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- End Case Study area -->
