<!-- FAQ area -->
<div class="faq-area pd-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center wow fadeInUp" data-wow-delay="0.2s">
        <div class="title">
          <h2>Frequently Asked Question by User.</h2>
          <p>Compellingly communicate high-payoff vortals vis-a-vis real-time functionalities. </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="single-faq-item wow fadeInRight" data-wow-delay="0.2s">
          <div class="faq-title dfx aic">
            <div class="faq-icon">
              <span class="mdi mdi-comment-question-outline"></span>
            </div>
            <div class="faq-text">
              <h4>Is this a secure site for purchases?</h4>
            </div>
          </div>
          <p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not
            be charged next month. You will continue to have access.</p>
        </div>
        <div class="single-faq-item wow fadeInRight" data-wow-delay="0.3s">
          <div class="faq-title dfx aic">
            <div class="faq-icon">
              <span class="mdi mdi-comment-question-outline"></span>
            </div>
            <div class="faq-text">
              <h4>Is this a secure site for purchases?</h4>
            </div>
          </div>
          <p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not
            be charged next month. You will continue to have access.</p>
        </div>
        <div class="single-faq-item wow fadeInRight" data-wow-delay="0.4s">
          <div class="faq-title dfx aic">
            <div class="faq-icon">
              <span class="mdi mdi-comment-question-outline"></span>
            </div>
            <div class="faq-text">
              <h4>Is this a secure site for purchases?</h4>
            </div>
          </div>
          <p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not
            be charged next month. You will continue to have access.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="single-faq-item wow fadeInRight" data-wow-delay="0.2s">
          <div class="faq-title dfx aic">
            <div class="faq-icon">
              <span class="mdi mdi-comment-question-outline"></span>
            </div>
            <div class="faq-text">
              <h4>Is this a secure site for purchases?</h4>
            </div>
          </div>
          <p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not
            be charged next month. You will continue to have access.</p>
        </div>
        <div class="single-faq-item wow fadeInRight" data-wow-delay="0.3s">
          <div class="faq-title dfx aic">
            <div class="faq-icon">
              <span class="mdi mdi-comment-question-outline"></span>
            </div>
            <div class="faq-text">
              <h4>Is this a secure site for purchases?</h4>
            </div>
          </div>
          <p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not
            be charged next month. You will continue to have access.</p>
        </div>
        <div class="single-faq-item wow fadeInRight" data-wow-delay="0.4s">
          <div class="faq-title dfx aic">
            <div class="faq-icon">
              <span class="mdi mdi-comment-question-outline"></span>
            </div>
            <div class="faq-text">
              <h4>Is this a secure site for purchases?</h4>
            </div>
          </div>
          <p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not
            be charged next month. You will continue to have access.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End FAQ area -->
