 <!-- Breadcrumb area -->
 <div class="breadcrumb-area">
   <div class="container text-center">
     <div class="row   aic">
       <div class="col-lg-12 col-md-12 ">
         <div class="breadcrumb-left">
           <h1 class="_404-title">Oops</h1>
         </div>
       </div>
       <div class="col-lg-12 col-md-12">
         <div class="title">
           <h1> <b>Sitio no encontrado</b></h1>
           <p style="font-size: 18px;">El sitio que estabas buscando no se encuentra. Revisa la URL o haz click<br /> en
             el siguiente enlace para
             continuar.</p>
         </div>
       </div>

       <div class="col-lg-12 col-md-12">
         <div class="text-center">
           <a routerLink="/" routerLinkActive="active" class="btn btn-lg btn-primary fw-bolder">Ir al home</a>
         </div>

       </div>
     </div>
   </div>
 </div>
 <!-- End Hero area -->
