<a href="#" class="boxed-btn active right-btn">
  <div class="dfx aic" style="text-align: initial;">
    <div class="btn-icon-img">
      <img src="assets/image/app.png" alt="">
    </div>
    <div class="btn-content">
      <h6><span>Descargá en</span> App Store</h6>
    </div>
  </div>
</a>
