/*************************
CSS Index
* Base CSS
* Header Top area CSS
* Header area CSS
* Breadcrumb area CSS
* We Provide area CSS
* Video area CSS
* CTA area CSS
* Team Member area CSS
*************************/

/********
Base CSS
*********/

h2 {
  font-weight: 600;
}

/*******************
Header Top area CSS
*******************/

.header-top-area {
  background-color: #042034;
  color: #e5e9f2;
  font-size: 14px;
}

.header-a-left a {
  color: #e5e9f2;
}

.header-a-link {
  text-align: right;
  overflow: hidden;
  float: right;
}

.header-a-link li {
  float: left;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.header-a-link li:last-child {
  border-right: 0;
}

.header-a-link li a {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #e5e9f2;
  font-size: 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-a-link li a:hover {
  background-color: #45fdfb;
}

/***************
Header area CSS
***************/

.about-page {
  padding-top: 13px;
}

.about-page .mainmenu li a {
  padding-bottom: 25px;
  color: #8392a5;
}

.about-page .mainmenu li a:after {
  z-index: 1;
}

.about-page .mainmenu li:hover a {
  color: #042034;
}

.about-page .mainmenu li ul li > a {
  padding: 5px 20px;
}

.about-page .button {
  background-color: #45fdfb;
}

.about-page .button:hover {
  color: white;
}

.about-page .button:after {
  background-color: #042034;
}

/*******************
Breadcrumb area CSS
*******************/

.bb-about-area {
  background-color: #e5e9f2;
}

.bb-about-area .bb-center {
  text-align: center;
  padding: 0;
}

.bb-center ol {
  padding: 0;
  margin: 0;
}

/*******************
We Provide area CSS
*******************/

.provide-area .title h2 {
  margin-bottom: 20px;
}

.provide-area .title p {
  margin-bottom: 30px;
}

.pe-contact {
  overflow: hidden;
  background-color: #f5f6f9;
  padding: 40px 30px;
}

.pe-text p {
  margin-bottom: 10px;
}

.pe-text h3 {
  margin-bottom: 0;
}

.pe-btn .button {
  background-color: #4528eb;
  text-transform: capitalize;
}

.pe-btn .button:after {
  background-color: #45fdfb;
}

.provide-area {
  padding-top: 80px;
}

/**************
Video area CSS
**************/

.about-vo .video-ad span.ad-icon-2 {
  bottom: 40%;
}

.about-vo .vd-btn {
  color: #45fdfb;
}

.about-vo .vd-btn:hover {
  background-color: #45fdfb;
  color: white;
}

/**************
CTA area CSS
**************/

.cta-about {
  background-color: #081567;
  padding-top: 200px;
  padding-bottom: 80px;
  margin-top: -120px;
  position: relative;
  z-index: 1;
}

.cta-about:after {
  position: absolute;
  left: 5%;
  top: 0;
  width: 90%;
  height: 100%;
  content: "";
  background-image: url(../image/CTA-a-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.cta-about .title h4 {
  color: #c0ccda;
  margin-bottom: 20px;
}

.cta-about .title h2 {
  color: white;
  margin-bottom: 40px;
}

.cta-about .title .button {
  background-color: #45fdfb;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.cta-about .title .button:after {
  background-color: white;
}

.cta-about .title .button:hover {
  color: #042034;
}

/********************
Team Member area CSS
********************/

.t-m-area .title {
  margin-bottom: 50px;
}

.t-m-as-left h6 {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
}

.t-m-as-left {
  position: absolute;
  left: -88px;
  background-color: white;
  padding: 15px 40px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 240px;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.single-t-m {
  position: relative;
  z-index: 1;
}

.single-t-m:hover .t-m-as-left {
  opacity: 0;
}

.single-t-m:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #042034;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  z-index: 2;
  visibility: hidden;
}

.single-t-m:hover:after {
  visibility: visible;
  opacity: 0.8;
}

.t-m-as-bottom {
  overflow: hidden;
  position: absolute;
  bottom: 30px;
  width: 100%;
  padding: 0 30px;
  z-index: 3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  margin-bottom: -20px;
}

.t-m-as-bottom h4 {
  color: white;
}

.t-m-as-bottom p {
  color: #c0ccda;
}

.t-m-as-bottom li a {
  font-size: 18px;
  color: #adb9c7;
  margin-left: 18px;
}

.single-t-m:hover .t-m-as-bottom {
  opacity: 1;
  visibility: visible;
  margin-bottom: 0px;
}
