/*************************
CSS Index
* Header area CSS
* Hero area CSS
* Service area CSS
* Video area CSS
* Features area CSS
* Google Map area CSS
* Rectangle 2 area CSS
*************************/

body {
  counter-reset: section;
}

.title p {
  color: #8392a5;
}

.pb-80 {
  padding-bottom: 80px;
}

/***************
Header area CSS
***************/

.header-7 .header-btn {
  float: left;
}

.header-leg img {
  border-radius: 50%;
}

.header-leg select {
  background: none;
  border: none;
  color: white;
}

.header-leg select:focus {
  outline: none;
}

.header-leg select option {
  color: black;
}

.header-leg {
  margin-top: 8px;
  text-align: right;
  float: right;
}

.is-sticky .header-leg select {
  color: black;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/***************
Hero area CSS
***************/

.slider-bg-1 {
  background-image: url(../image/slider-7/slider-bg-1.jpg);
}

.single-slider {
  background-size: cover;
  background-position: center;
  padding-top: 250px;
  padding-bottom: 150px;
  position: relative;
  z-index: 1;
}

.hero-area.hero-6.hero-7 {
  background: none;
  padding: 0;
}

.single-slider:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #042034;
  content: "";
  opacity: 0.8;
  z-index: -1;
}

.hero-7 h4 {
  color: #c0ccda;
  line-height: 1.7;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 30px;
}

.hero-7 .owl-nav button {
  position: absolute;
  left: 5%;
  top: 50%;
  margin-top: -15px;
}

.hero-7 .owl-nav button.owl-next {
  left: auto;
  right: 5%;
}

.hero-7 .owl-nav button i {
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hero-7 .owl-nav button i:hover {
  background-color: white;
  color: black;
}
p.play-button {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

/****************
Service area CSS
****************/

.s-7-icon {
  margin-bottom: 30px;
}

/****************
Video area CSS
****************/

.video-bg {
  text-align: center;
  position: relative;
  z-index: 2;
  margin: 10px;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

.video-7-all {
  position: relative;
}

.video-ad span {
  position: absolute;
  left: -65px;
  top: 20%;
  font-size: 100px;
  color: #042034;
  opacity: 0.1;
  line-height: 1;
  z-index: 1;
  -webkit-animation: maskimg 10s linear infinite;
  animation: maskimg 10s linear infinite;
}

.video-ad span.ad-icon-2 {
  left: auto;
  right: -40px;
  top: auto;
  bottom: -50px;
}

.video-ad img {
  position: absolute;
  bottom: -150px;
  left: 50px;
  z-index: 1;
  pointer-events: none;
}

.single-rectangle-7 {
  text-align: center;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 60px 20px 40px;
  border-radius: 5px;
}
.rectangle-6-img {
  margin-top: 30px;
}

.rectangle-6-img img {
  width: 300px;
  background-color: rgba(0, 193, 177, 0.2);
  border-radius: 50%;
}
.rectangle-7-img {
  margin-top: 30px;
}

.rectangle-7-img img {
  width: 150px;
  background-color: rgba(0, 193, 177, 0.2);
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .rectangle-6-img {
    margin-top: 30px;
  }

  .rectangle-6-img img {
    width: 150px;
    background-color: rgba(0, 193, 177, 0.2);
    border-radius: 50%;
  }
}
/******************
Features area CSS
******************/

.features-7-area {
  background-color: #f9fafc;
  padding-top: 330px;
  padding-bottom: 0px;
  margin-top: -329px;
  position: relative;
}

.f-7-content li {
  margin-right: 40px;
  font-size: 23px;
  font-weight: 500;
  color: #042034;
}

.f-7-content li::before {
  counter-increment: section;
  content: "" counter(section);
  background-color: black;
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 50%;
  line-height: 35px;
  margin-right: 13px;
  color: white;
  font-size: 16px;
}

.f-7-content p {
  margin: 40px 100px;
}

.f-7-content {
  position: relative;
  z-index: 1;
  padding-bottom: 70px;
}

.f-7-content:after {
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 70%;
  height: 100%;
  content: "";
  background-image: url(../image/bg-7-1.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.f-7-content .button {
  position: absolute;
  bottom: -7%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-color: #45fdfb;
}

.f-7-image img {
  position: absolute;
  left: 0;
  bottom: -4%;
  width: 400px;
  pointer-events: none;
}

img.f-7-image-2 {
  left: auto;
  right: 0;
  bottom: -6%;
}

.rectangle-7-area .title,
.r-area .title {
  margin-bottom: 50px;
}

/******************
Google Map area CSS
******************/

#map {
  width: 100%;
  height: 500px;
  margin-top: 30px;
}

/******************
Rectangle 2 area CSS
******************/

.r-area {
  background-color: #f9fafc;
}

.r-single-7 {
  background-color: white;
  padding: 40px 25px;
  margin-bottom: 30px;
}

.r-icon {
  width: 20%;
}

.r-text {
  width: 80%;
}

.r-text h4 {
  margin-bottom: 0;
}

.r-heading {
  margin-bottom: 20px;
}

.r-icon .icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background-color: rgba(0, 193, 177, 0.2);
  color: rgba(0, 193, 177, 1);
  border-radius: 50%;
  font-size: 20px;
}

/*************
Team area CSS
*************/

.team-8-img {
  width: 200px;
  height: 200px;
  margin: 0 auto 30px;
  position: relative;
  z-index: 1;
}

.team-8-img img {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 10px white;
  box-shadow: 0 0 0 10px white;
}

.single-team-8 {
  text-align: center;
  margin-bottom: 60px;
}

.team-8-icon {
  width: 40px;
  height: 40px;
  background-color: #0077b5;
  color: white;
  line-height: 40px;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.team-8-icon:hover {
  background-color: white;
  color: #0077b5;
}

.team-social {
  margin-top: -45px;
  position: relative;
  z-index: 1;
}

.team-8-area {
  background-color: #f9fafc;
}

.single-team-8 h3 span {
  display: block;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 500;
  color: #576477;
}

.single-team-8 h3 {
  margin-top: 25px;
}

.image-parent {
  position: relative;
  display: inline-block;
}

.image-parent:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 242px;
  height: 180px;
  background-image: url("../image/team-image.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
  -webkit-transform: translate(-50%, -42%);
  -ms-transform: translate(-50%, -42%);
  transform: translate(-50%, -42%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.image-parent:hover:before {
  background-image: url("../image/team-hover-image.png");
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
