/******************
CSS Index

Home Page 10 css
******************/

.hero-10,
.f10 {
  background-color: #0c298e;
  color: white;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}

.button.h10 {
  background: #c82c29;
}

.button.h10p {
  background: #0c298e;
}

.button.h10p.active {
  background: #c82c29;
}

.hero-10 h1 {
  color: #fff;
}

.header10-form {
  width: 70%;
  position: relative;
  z-index: 2;
  margin: 40px 0 10px;
}
.header10-form input {
  width: 100%;
  padding: 15px;
  color: #576477;
}

.header10-form input::placeholder {
  color: #576477;
}

a.h-10-subscribe-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: red;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s;
}
a.h-10-subscribe-btn:hover {
  background: #042034;
  transition: all 0.3s;
}

.abput-cta-area.h10-cta {
  margin-top: 0;
  padding: 130px 0 230px;
}

.single10-pricing li {
  display: block;
  margin-bottom: 7px;
  border-bottom: 1px dashed #e5e9f2;
  padding-bottom: 7px;
}

.single10-pricing li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.single10-pricing {
  padding: 40px;
  background: #fff;
}

.single10-pricing ul {
  margin: 40px 0;
}

.pricing10wrap {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.pricing10wrap .row > div {
  border-right: 1px solid #dfe5ec;
  padding: 0;
  margin: 0;
}

.pricing10wrap .row > div:last-child {
  border-right: 0;
}

.h10-pricing-area {
  margin-top: -200px;
  position: relative;
  z-index: 9;
}

.pricing10wrap h5 {
  background: #e5e9f2;
  margin: 0;
  padding: 25px 0;
  font-size: 18px;
  color: #576477;
}
