/*********************
CSS Index
* Base CSS
* Header area CSS
* Hero area CSS
* Client logo area CSS
* Service area CSS
* Understand area CSS
* Testimonial area CSS
* Case Study area CSS
* Contact area CSS
*********************/

/*********
Base CSS
*********/

/*** Body CSS ***/

body {
  font-size: 16px;
}

/***************
Header area CSS
***************/

.header-5 {
  border-bottom: 1px solid #e5e9f2;
  background-color: #ffffff;
}

.header-5 .mainmenu li a {
  color: #8392a5;
}

.header-5 .mainmenu li:hover a {
  color: #042034;
}

.header-5 .button {
  background-color: #063dae;
}

.header-5 .button:after {
  background-color: #f38550;
}

.header-5 .button:hover {
  color: white;
}

/***************
Hero area CSS
***************/

.hero-5 {
  background-color: #fbfeff;
  position: relative;
  z-index: 1;
}

.hero-5:before,
.contact-area:before {
  position: absolute;
  right: -5%;
  top: 28%;
  width: 100%;
  height: 300px;
  content: "";
  z-index: -1;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.hero-5:before,
.hero-title-5:after,
.contact-area:before,
.contact-img:after {
  background: #ffffff;
  background: linear-gradient(to right, #ffffff 1%, #e2eeff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2eeff', GradientType=1);
}

.hero-title-5 {
  position: relative;
  z-index: 1;
}

.hero-title-5:before,
.hero-title-5:after {
  position: absolute;
  content: "";
  width: 150%;
  left: -30%;
  height: 180px;
  -webkit-transform: skewY(-15deg);
  transform: skewY(-15deg);
  top: 45%;
  z-index: -1;
}

.hero-title-5:before,
.contact-img:before {
  left: -20%;
  bottom: -20%;
  width: 500px;
  height: 50px;
  background-color: rgba(243, 133, 80, 0.3);
  -webkit-transform: skewY(-15deg);
  transform: skewY(-15deg);
  top: auto;
  opacity: 0.7;
  z-index: -1;
}

.hero-5 h1 {
  margin-bottom: 50px;
}

.hero-5 .button {
  background-color: #f38550;
}

.hero-5-img {
  margin-right: calc((-70vw + 100%) / 2);
  position: relative;
  z-index: 1;
}

/********************
Client logo area CSS
********************/

.c-logo-area-5 {
  padding-bottom: 80px;
}

/***************
Service area CSS
***************/

.service-5-bg {
  background-color: #063dae;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

.service-5-area .title-4 h5 {
  color: #f38550;
  margin-bottom: 20px;
}

.service-5-area .title-4 h2 {
  color: white;
}

.single-s-5-item h3 {
  margin: 30px 0;
  color: white;
}

.single-s-5-item {
  color: white;
  padding: 20px;
}

/*******************
Understand area CSS
*******************/

.understand-area .button {
  background-color: #f38550;
  margin-top: 40px;
}

.s-u-text {
  padding: 20px;
  margin-bottom: 30px;
  transition: 0.3s;
  border-left: 3px solid transparent;
}

.s-u-text:hover,
.s-u-text.active {
  box-shadow: 10px 10px 40px -6px rgba(0, 0, 0, 0.1);
  border-color: #f38550;
}

.understand-area .title,
.s-u-text:last-child {
  margin-bottom: 0;
}

/********************
Testimonial area CSS
********************/

.t-5 {
  background-color: #f8fbff;
  position: relative;
  z-index: 1;
}

.t-c-5 .single-c-item img {
  width: 95px;
  border-radius: 50%;
  height: 95px;
  margin-bottom: 30px;
  box-shadow: 0 0 0 7px white, 0 0 20px 10px #ddd;
}

.t-c-5 .single-c-item {
  box-shadow: none;
  margin: 0;
  background: none;
}

.t-c-5 .single-c-item h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
}

.t-c-5 .single-c-item h3 {
  margin-top: 30px;
}

.t-c-5 .single-c-item h3 span {
  font-size: 16px;
  color: #576477;
  margin-left: 5px;
  font-weight: 400;
}

.t-c-5 .quote-left i {
  font-size: 270px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e5e5e5),
    to(#ffffff)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.t-5 .title h2 span {
  color: #f38550;
  font-weight: 300;
}

.t-5 .title h2 {
  font-weight: 600;
}

.t-c-5 .owl-dots {
  text-align: center;
}

.t-c-5 .owl-dots button {
  width: 40px;
  height: 4px;
  display: inline-block;
  background-color: #063db2;
  border-radius: 5px;
  opacity: 0.2;
  margin: 0 5px;
}

.t-c-5 .owl-dots button.active {
  background-color: #063dae;
  opacity: 1;
}

.t-full {
  position: relative;
  z-index: 1;
}

.t-img img {
  position: absolute;
  -webkit-animation: maskimg 10s linear infinite;
  animation: maskimg 10s linear infinite;
  width: 70px;
  border-radius: 50%;
  box-shadow: 0 0 30px 0px #cac5c5;
}

.t-img img:nth-child(1) {
  left: 16%;
  top: 20%;
  width: 60px;
}

.t-img img:nth-child(2) {
  top: 30%;
  left: 3%;
  width: 60px;
}

.t-img img:nth-child(3) {
  top: auto;
  left: -20px;
  width: 80px;
  bottom: 18%;
}

.t-img img:nth-child(4) {
  top: 45%;
  left: 13%;
  width: 80px;
}

.t-img img:nth-child(5) {
  top: 15%;
  right: -20px;
  width: 90px;
}

.t-img img:nth-child(6) {
  top: 34%;
  right: 11%;
  width: 90px;
}

.t-img img:nth-child(7) {
  top: 57%;
  right: 3%;
  width: 70px;
}

.t-img img:nth-child(8) {
  bottom: 20%;
  right: 14%;
  width: 50px;
}

/*******************
Case Study area CSS
*******************/

.case-study-area .title {
  margin-bottom: 60px;
}

.case-study-area .title h5 {
  color: #f38550;
  margin-bottom: 20px;
}

.single-study-item {
  box-shadow: 10px 10px 40px -6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.study-img {
  text-align: center;
  background-color: #0073d6;
  padding: 40px 0;
  border-radius: 5px 5px 0 0;
}

.study-2 {
  background-color: #5e64a6;
}

.study-3 {
  background-color: #ff8c8c;
}

.study-text {
  padding: 30px 30px 50px;
  position: relative;
  z-index: 1;
}

.study-btn {
  position: absolute;
  left: 9%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  display: inline-block;
  background-color: #c0ccda;
  text-align: center;
  color: white;
  font-size: 20px;
  bottom: -22px;
  transition: 0.3s;
}

.single-study-item:hover .study-btn {
  background-color: #f38550;
  color: white;
}

/****************
Contact area CSS
****************/

.contact-area {
  position: relative;
  z-index: 1;
}

.contact-area:before {
  top: 33%;
  height: 230px;
}

.contact-form .title {
  margin-bottom: 50px;
}

.contact-img {
  position: relative;
  z-index: 1;
}

.contact-img:before,
.contact-img:after {
  position: absolute;
  content: "";
  width: 150%;
  height: 150px;
  -webkit-transform: skewY(-15deg);
  transform: skewY(-15deg);
  bottom: 6%;
  right: 0;
  z-index: -1;
}

.contact-img:before {
  left: -22%;
  bottom: -2%;
  width: 500px;
  height: 50px;
}

.contact-form label {
  display: none;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  padding: 15px;
  background-color: white;
  box-shadow: 2px 2px 15px -6px rgba(0, 0, 0, 0.1);
  border: none;
  margin-bottom: 30px;
}

.contact-form button.button {
  background-color: #f38550;
}

.contact-form textarea:focus {
  box-shadow: 2px 2px 15px -6px rgba(0, 0, 0, 0.1);
}
