/******************
CSS Index
* Header area CSS
* Hero area CSS
******************/

/***************
Header area CSS
***************/

.header-2 .mainmenu li a {
  color: #c0ccda;
}

.header-2 .mainmenu li:hover > a {
  color: white;
}

.is-sticky .header-2 .mainmenu li a {
  color: #576477;
}

.is-sticky .logo-1,
.logo-2 {
  display: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.is-sticky .logo-2 {
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/*************
Hero area CSS
*************/

.hero-2 {
  background-color: #362785;
}

.hero-2 .mdi {
  background-color: #f9fafc;
  color: #042034;
}

.hero-2 h3 {
  color: #adb9c7;
}

.hero-2 h1 {
  color: #f9fafc;
}

.hero-2 .boxed-btn {
  border: 1px solid transparent;
  background-color: #042034;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hero-2 .boxed-btn:hover,
.hero-2 .boxed-btn.active {
  background-color: #c82c29;
  -webkit-box-shadow: 0 10px 30px -14px #c82c29;
  box-shadow: 0 10px 30px -14px #c82c29;
  border-color: #c82c29;
}
.hero-2 .boxed-btn.active:hover {
  border-color: #fff;
}
.hero-2 .hero-img:after {
  background: rgba(73, 52, 182, 0.6);
  border-radius: 50%;
  -webkit-animation: animatetwoimg 3s linear infinite;
  animation: animatetwoimg 3s linear infinite;
}

@-webkit-keyframes animatetwoimg {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3),
      0 0 0 0 rgba(73, 52, 182, 0.6);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 0 rgba(73, 52, 182, 0.6);
  }
  40% {
    -webkit-box-shadow: 0 0 0 50px rgba(255, 109, 74, 0),
      0 0 0 0 rgba(73, 52, 182, 0.2);
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 0 rgba(73, 52, 182, 0.2);
  }
  80% {
    -webkit-box-shadow: 0 0 0 50px rgba(255, 109, 74, 0),
      0 0 0 30px rgba(255, 109, 74, 0);
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0),
      0 0 0 30px rgba(255, 109, 74, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 109, 74, 0),
      0 0 0 30px rgba(255, 109, 74, 0);
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
}

@keyframes animatetwoimg {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3),
      0 0 0 0 rgba(73, 52, 182, 0.6);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 0 rgba(73, 52, 182, 0.6);
  }
  40% {
    -webkit-box-shadow: 0 0 0 50px rgba(255, 109, 74, 0),
      0 0 0 0 rgba(73, 52, 182, 0.2);
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 0 rgba(73, 52, 182, 0.2);
  }
  80% {
    -webkit-box-shadow: 0 0 0 50px rgba(255, 109, 74, 0),
      0 0 0 30px rgba(255, 109, 74, 0);
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0),
      0 0 0 30px rgba(255, 109, 74, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 109, 74, 0),
      0 0 0 30px rgba(255, 109, 74, 0);
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
}
