<!-- Footer area -->
<div class="footer-area-3">
  <div class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <a routerLink="/" routerLinkActive="active" class="footer-logo">
            <img src="assets/image/logo.png" alt="">
          </a>
          <p translate>{{'FOOTER.TITLE'}}</p>
          <ul>
            <!--<li><a href="https://whisfy.com/feed/whisfy" data-toggle="tooltip" title="" data-placement="left"
                data-original-title="Whisfy"><img src="./assets/image/icon-social.png"></a></li>-->
            <li><a href="https://www.instagram.com/wave_arg/" target="_blank" data-toggle="tooltip" title=""
                data-placement="top" data-original-title="Instagram"><span class="mdi mdi-instagram"></span></a></li>
            <li><a href="https://www.facebook.com/alineadoresinvisibleswave" target="_blank" data-toggle="tooltip" title=""
                data-placement="bottom" data-original-title="Twitter"><span class="mdi mdi-facebook"></span></a></li>
            <!--<li><a href="https://www.linkedin.com/company/whisfy" target="_blank" data-toggle="tooltip" title=""
                data-placement="right" data-original-title="LinkedIn"><span class="mdi mdi-linkedin"></span></a></li>-->
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="copyright text-center" style="padding-top: 10px!important;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>{{'FOOTER.BY' | translate}} ©{{yearnow}}</p>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- End Footer area -->
