<!-- Get Ready area -->
<div class="get-ready-area  pt-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center get-bg pd-80 wow fadeInUp" data-wow-delay="0.2s"
        style="border: 1px solid #C0CCDA;border-radius: 10px;">
        <div class="title">
          <h2 translate>{{'LANDING.CALL_TO_ACTION.TITLE'}}</h2>
          <h4 translate>{{'LANDING.CALL_TO_ACTION.SECOND_TITLE'}}</h4>
        </div>
        <app-btn-gplay></app-btn-gplay>
        <!--TODO:APP <a href="#" class="boxed-btn active right-btn">
          <div class="dfx aic" style="text-align: initial;">
            <div class="btn-icon-img">
              <img src="assets/image/app.png" alt="">
            </div>
            <div class="btn-content">
              <h6><span>Download on the</span> App Store</h6>
            </div>
          </div>
        </a>-->
      </div>
    </div>
  </div>
</div>
<!-- End Get Ready area -->
