<a href="https://play.google.com/store/apps/details?id=com.whisfyofficial" target="_blank" class="boxed-btn">
  <div class="dfx aic" style="text-align: initial;">
    <div class="btn-icon-img">
      <img src="assets/image/google-play.png" alt="">
    </div>
    <div class="btn-content">
      <h6><span [innerHTML]="'LANDING.SHARED.DOWNLOAD' | translate"></span>
        {{'LANDING.SHARED.BUTTONS.GOOGLE_PAY' | translate}}</h6>
    </div>
  </div>
</a>
