<!-- Team area -->
<div class="team-8-area pd-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center wow fadeInRight" data-wow-delay="0.2s">
        <div class="title">
          <h2>Nuestro equipo principal</h2>
          <p>Formado por profesionales con +10 años de experiencia </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="single-team-8">
          <div class="image-parent">
            <div class="team-8-img">
              <img src="assets/image/team-1.jpg" alt="">
            </div>
          </div>
          <div class="team-social">
            <a href="https://www.linkedin.com/in/sebastiangarcianallar/" target="_blank" class="team-8-icon">
              <span class="mdi mdi-linkedin"></span>
            </a>
          </div>
          <h3>Sebastian Garcia Nallar <span>CEO</span></h3>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="single-team-8">
          <div class="image-parent">
            <div class="team-8-img">
              <img src="assets/image/team-2.jpg" alt="">
            </div>
          </div>
          <div class="team-social">
            <a href="https://www.linkedin.com/in/lucaslibson/" target="_blank" class="team-8-icon">
              <span class="mdi mdi-linkedin"></span>
            </a>
          </div>
          <h3>Lucas Libson <span>COO</span></h3>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- End Team area -->