/*** Body CSS ***/

body { 
 
    background: url(./assets/image/elements.png) no-repeat center center fixed!important;
       background-position: center!important;
       background-size: cover!important;
   }
   .breadcrumb-area {
    
       background-color: transparent!important;
   }
   .abput-cta-area {
       background: transparent!important;
   }
   .blog-footer {
       background: transparent!important;
   }
   .btn-whisfy {
       color: #fff!important;
       position: relative!important;
       background-color: #ffab92!important;
       display: inline-block!important;
       padding: 0 35px!important;
       font-size: 18px!important;
       line-height: 40px!important;
       font-weight: 400!important;  
       border-radius: 40px!important;
   }
   .title-whisfy {
    font-size: 1.5rem;
   color: #ffab92!important;
   }
   
   /******************
   Features area CSS
   ******************/
   
   .features-7-area { 
       /*padding-top: 330px;*/
       padding-bottom: 0px;
       /*margin-top: -329px;*/
       position: relative;
   }
   
   .f-7-content li {
       margin-right: 40px;
       font-size: 23px;
       font-weight: 500;
       color: #ffffff;
   }
   .f-7-content > ul {
       counter-reset: headings;
   }
   .f-7-content li::before {
       counter-increment: headings;
       content: counter(headings, decimal); 
       background-color: #ffab92;
       width: 35px;
       height: 35px;
       display: inline-block;
       border-radius: 50%;
       line-height: 35px;
       margin-right: 13px;
       color: white;
       font-size: 16px;
   }
   
   .f-7-content p {
       margin: 40px 100px;
   }
   
   .f-7-content {
       position: relative;
       z-index: 1;
       padding-bottom: 70px;
   }
   
   .f-7-content:after {
       position: absolute;
       bottom: 5%;
       left: 50%;
       width: 70%;
       height: 100%;
       content: ""; 
       background-size: 100%;
       background-position: center;
       background-repeat: no-repeat;
       z-index: -1;
       -webkit-transform: translate(-50%, 0%);
       -ms-transform: translate(-50%, 0%);
       transform: translate(-50%, 0%);
   }
   
   .f-7-content .button {
       position: absolute;
       bottom: -7%;
       left: 50%;
       -webkit-transform: translate(-50%, 0);
       -ms-transform: translate(-50%, 0);
       transform: translate(-50%, 0);
       background-color: #45FDFB;
   }
   
   .f-7-image img {
       position: absolute;
       left: 0;
       bottom: -4%;
       width: 400px;
       pointer-events: none;
   }
   
   img.f-7-image-2 {
       left: auto;
       right: 0;
       bottom: -6%;
   }
   
   .rectangle-7-area .title,
   .r-area .title {
       margin-bottom: 50px;
   }
   .breadcrumb-area {
    padding: 150px 0 100px; 
}

