<div id="mainmenu-area">
  <div class="header-area header7 header-absolute header-6 header-7">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 align-self-center w-50">
          <a href="index.html" class="header-logo">
            <img src="assets/image/logo2.png" alt="" class="logo-1">
            <img src="assets/image/logo.png" alt="" class="logo-2">
          </a>
        </div>
        <div class="col-lg-7 align-self-center w-50 t-right">
          <button class="toggle">
            <span></span>
          </button>
          <div class="mainmenu">
            <nav>
              <ul>
                <li><a class="nav-link" target="_blank" href="https://wa.link/r9457r">Whatsapp</a></li>

              </ul>
            </nav>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
